@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: #07130e;
  color: #f1f5f3;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
